.app-border-text-color {
  color: #3084ce;
  border-color: #ffafcc;
  outline-color: #ffafcc;
}

.app-color-ffc8dd {
  border-color: #ffc8dd;
  background: #ffc8dd;
}

.app-color-ffafcc {
  background: #ffafcc;
}

.app-color-bde0fe {
  background: #bde0fe;
}

.app-color-a2d2ff {
  background: #a2d2ff;
}

.app-chat {
  overflow-y: hidden;
  height: 100%;
  width: 80%;
  position: absolute;
  margin-left: 2%;
  border-radius: 3px;
}

.app-chat-box-title {
}

.app-chat-box-top {
  overflow: auto;
  background: white;
  height: 60%;
  display: flex;
  flex-direction: column-reverse;
}

.app-chat-box-bottom {
  height: fit-content;
  height: 40%;
}

.app-chat-message {
  border: 2px solid #dedede;
  border-radius: 5px;
  border-color: #ffafcc;
  color: #3084ce;
   padding: 10px;
  margin: 10px;
  display: grid;
}

.app-chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.app-chat-send {
  display: flex;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  justify-content: space-between;
}

.app-text-height {
  flex-grow: 20;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 10px;
  margin-right: 10px;
}

.app-button-send {
  font-weight: bolder;
  border-radius: 5px;
  flex-grow: 1;
  padding: 30px;
  background: #ffafcc;
  border-color: #ffafcc;
  margin-right: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.app-button-send :focus {
  font-weight: bolder;
  flex-grow: 1;
  padding: 30px;
  background: #cdb4db;
  border-color: #cdb4db;
  margin-right: 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffafcc #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffafcc;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }